@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Anton&family=Freeman&family=Krona+One&family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Anton&family=Freeman&family=Just+Another+Hand&family=Krona+One&family=Sixtyfour&display=swap');

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgba(189, 189, 189, 0.479);
}
.texto {
  padding: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.678)),
    url("../imagenes/banner.jpg");
}
.texto h1 {
  font-family: "Just Another Hand", cursive;
  font-weight: 100;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 700%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #070027;
  padding: 0 20px;
  height: auto;
}

.logo {
  margin: 10px 10px 10px 2%;
  font-family: "Anton", sans-serif;
  font-size: 250%;
  font-weight: 500;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  transition: all 0.5s ease;
}

.nav-links li {
  margin: 0 15px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  transition: all 0.2s ease;
}
.nav-links li:hover {
  transform: scale(1.1);
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 140%;
}

.nav-links a:hover {
  color: rgb(0, 238, 255);
}

.principal{
    margin: 20px;
}
.principal h1{
    font-size: 250%;
}